<nav class="bg-light rounded-3 p-3 fontSize">
  <form
    [formGroup]="getMenuForm"
    (ngSubmit)="onFilterElement()"
    class="d-flex flex-column gap-1"
  >
    <div class="py-2">
      <p class="text-center fw-bold">
        Minimum price:
      </p>
      <input
        class="form-control"
        type="text"
        formControlName="minPrice"
      />
    </div>

    <div class="py-2">
      <p class="text-center fw-bold">
        Maximum price:
      </p>
      <input
        class="form-control"
        type="text"
        formControlName="maxPrice"
      />
    </div>

    <button
      class="btn"
      [ngClass]="
        isDisabled
          ? 'btn-outline-danger'
          : 'btn-outline-success'
      "
      [disabled]="isDisabled"
    >
      FILTER
      <span class="bi bi-filter"></span>
    </button>

    <ng-container *ngIf="!isDisabled">
      <button
        (click)="onClearFilter()"
        class="btn btn-outline-danger"
      >
        Clear filter &cross;
      </button>
    </ng-container>
  </form>
</nav>
