<ng-container>
  <app-page-title
    [pageTitle]="
      (title | async | uppercase) || ''
    "
  ></app-page-title>

  <div
    *ngIf="bestsellers | async as items"
    class="d-flex justify-content-center"
  >
    <ul class="w-75 d-flex flex-wrap gap-3">
      <ng-container *ngFor="let item of items">
        <app-product-card
          [item]="item"
        ></app-product-card>
      </ng-container>
    </ul>
  </div>

  <ng-container>
    <router-outlet
      name="category"
    ></router-outlet>
  </ng-container>

  <ng-container>
    <router-outlet
      name="subcategory"
    ></router-outlet>
  </ng-container>
</ng-container>
