<ng-container>
  <app-page-title
    [pageTitle]="
      (title | async | uppercase) || ''
    "
  ></app-page-title>

  <div
    *ngIf="
      products | async as items;
      else LackOfProductsLabel
    "
    class="d-flex justify-content-center"
  >
    <ul class="w-75 d-flex flex-wrap gap-3">
      <ng-container *ngFor="let item of items">
        <app-product-card
          [item]="item"
        ></app-product-card>
      </ng-container>
    </ul>
  </div>

  <ng-template #LackOfProductsLabel>
    <div class="container">
      <h3 class="h3 text-center py-4">
        Currently there are not products yet
      </h3>
    </div>
  </ng-template>
</ng-container>
