.custom-border-bottom {
  border-bottom: 2px solid hsl(220, 75%, 45%);

  div {
    cursor: pointer;
  }

  .searcher-control {
    width: 100%;
    font-size: 1rem;
    padding-inline: 8px;
    border: none;
    outline: none;

  }

  &:focus-within {
    box-shadow: 0px 0px 20px 5px hsla(0, 0, 40%, 0.6);
  }
}