<section
  class="container-fluid row py-3"
  *ngIf="
    products$ | async;
    else LackOfProductsInformation
  "
>
  <div class="col-3">
    <app-filtering-menu></app-filtering-menu>
  </div>
  <div class="col-9 d-flex flex-column gap-3">
    <ng-container
      *ngFor="let item of products$ | async"
    >
      <app-product-card
        [item]="item"
        [descriptionLength]="80"
        [width]="'w-100'"
      ></app-product-card>
    </ng-container>
  </div>
</section>

<ng-template #LackOfProductsInformation>
  <div class="container text-center">
    <h3 class="h3">Lack of products</h3>
  </div>
</ng-template>
