<section
  class="container d-flex justify-content-between"
>
  <app-searcher
    (emitParametersForSearcher)="onShow($event)"
  ></app-searcher>
  <app-logo size="lg"></app-logo>

  <div class="d-flex gap-4">
    <a
      routerLink="account"
      class="d-flex flex-column align-items-center link-dark custom-link"
    >
      <span class="fs-4 bi bi-person"></span>
      <span>My account</span>
    </a>
    <a
      routerLink="cart"
      class="link-dark custom-link"
    >
      <app-cart-icon
        [productsAmount]="
          (productsAmount$ | async)!
        "
      ></app-cart-icon>
    </a>
    <ng-container *ngIf="isLogged$ | async">
      <a
        class="link-danger d-flex flex-column align-items-center"
        routerLink="/"
        (click)="onLogout()"
      >
        <span
          class="bi bi-box-arrow-down fs-4"
        ></span>
        <span>Logout</span>
      </a>
    </ng-container>
  </div>
</section>
